/.git
/bootstrap/cache/**/*
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/**/*
!/storage/app/public
/storage/app/public/**/*
/storage/framework/**/*
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/testing
!/storage/framework/views
/storage/framework/cache/**/*
!/storage/framework/cache/data
/storage/framework/cache/data/**/*
/storage/framework/sessions/**/*
/storage/framework/testing/**/*
/storage/framework/views/**/*
/storage/logs/*
/vendor

.editorconfig
.env
.env.backup
.env.example
.gitattributes
.gitignore
.styleci.yml
.phpunit.result.cache
CHANGE
composer.lock
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
README.md
yarn-error.log
